<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>r2 console</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div class="app-shell">
            <%- include('./header.ejs') %>
            <div>
                <article>
                    <h1>문제가 발생했습니다</h1>
                    <p><%= message %></p>
                </article>
            </div>
        </div>
    </body>
</html>
