<header>
    <h3>
        <a style="text-decoration: none" href="/"
            >R2 Template Management Console</a
        >
    </h3>
    <div>
        <a href="/reports/create" class="custom-button">리포트 양식 추가</a>
    </div>
</header>
